@import "tailwindcss";
.btn{
    border: white 1px solid;
    cursor: pointer;
    border-radius: 10px;
}
.code{
    border-radius: 10px;
    padding: 15px 10px;
}
.main{
    line-height: 50px;
    margin-bottom: 30px;
}
@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-80px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(80px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-slideLeft {
  animation: slideLeft 1s ease-out forwards;
}

.animate-slideRight {
  animation: slideRight 1s ease-out forwards;
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out forwards;
}

.delay-300 {
  animation-delay: 0.3s;
}

@font-face {
  font-display: block;
  font-family: Mori;
  font-style: normal;
  font-weight: 900;
  src: url(https://assets.codepen.io/16327/PPMori-SemiBold.woff) format("woff");
}


.split {
  opacity: 0;
  text-align: center;
  color: rgb(14, 16, 15);
  font-size: 2rem;
  will-change: transform;
  color: #0e100f;
}

.split * {
  will-change: transform;
}

.spacer {
  height: 40vh
}
